<!-- Html code for displaying the Award Program Categories info on the home page -->

<div class="card card-body">
	<!-- Heading -->
    <div class="p-3 mb-2 bg-secondary text-white"><h4 class="text-center">Award Program Categories</h4></div>

	<br>

	<!-- Total students in bronze category -->
	<div class="row">
		<div class="col">
			<div class="col-md">
				<div class="card text-center text-black  mb-3" style="background-color: #B8860B">
					<div class="card-header">
						<h5 class="card-title">BRONZE</h5>
					</div>
					<div class="card-body">
						<h3 class="card-title">{{total_bronze}}</h3>
					</div>
				</div>
			</div>
			<!-- Required amount of hours for bronze -->
			<h6 class="text-center">50 HOURS</h6>
		</div>

		<!-- Total students in silver category -->
		<div class="col">
			<div class="col-md">
				<div class="card text-center text-black  mb-3" style="background-color: #D3D3D3">
					<div class="card-header">
						<h5 class="card-title">SILVER</h5>
					</div>
					<div class="card-body">
						<h3 class="card-title">{{total_silver}}</h3>
					</div>
				</div>
			</div>
			<!-- Required amount of hours for silver -->
			<h6 class="text-center">200 HOURS</h6>
		</div>

		<!-- Total students in gold category -->
		<div class="col">
			<div class="col-md">
				<div class="card text-center text-black  mb-3" style="background-color: #FFD700">
					<div class="card-header">
						<h5 class="card-title">GOLD</h5>
					</div>
					<div class="card-body">
						<h3 class="card-title">{{total_gold}}</h3>
					</div>
				</div>
			</div>
			<!-- Required amount of hours for gold -->
			<h6 class="text-center">500 HOURS</h6>
		</div>
	</div>
</div>